NodeRed-Sequence.json
[{"id":"d410b28b487eeae6","type":"api-current-state","z":"38fcddfdbba401d5","name":"Get Kitchen Volume Level","server":"efbeb294.51685","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.kitchen_display","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":390,"y":900,"wires":[["40743d66726cf908","639deba4bc641566"]]},{"id":"40743d66726cf908","type":"change","z":"38fcddfdbba401d5","name":"Get Current Kitchen Volume","rules":[{"t":"set","p":"kitchen_volume_level","pt":"flow","to":"data.attributes.volume_level","tot":"msg"},{"t":"set","p":"data.attributes.volume_level","pt":"msg","to":"kitchen_volume","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":900,"wires":[["f82b3cbd63a4ed59"]]},{"id":"f82b3cbd63a4ed59","type":"api-call-service","z":"38fcddfdbba401d5","name":"Set Kitchen Vol to 1","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.kitchen_display"],"data":"{\"volume_level\":\"1\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":900,"wires":[["685c69da7061d1b5"]]},{"id":"d0115876ed38204a","type":"change","z":"38fcddfdbba401d5","name":"Recall Temp","rules":[{"t":"set","p":"kitchen_volume_level","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":980,"wires":[["d59b250633685708","709441e31c178320"]]},{"id":"d59b250633685708","type":"api-call-service","z":"38fcddfdbba401d5","name":"Set Kitchen Volume Back","server":"efbeb294.51685","version":5,"debugenabled":true,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.kitchen_display"],"data":"{\"volume_level\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":980,"wires":[[]]},{"id":"99ec2be704734b48","type":"link in","z":"38fcddfdbba401d5","name":"Set Both Vols","links":[],"x":215,"y":900,"wires":[["d410b28b487eeae6"]]},{"id":"ea6c8318f1bb932d","type":"link in","z":"38fcddfdbba401d5","name":"Recall Both Vols","links":[],"x":215,"y":980,"wires":[["d0115876ed38204a"]]},{"id":"709441e31c178320","type":"debug","z":"38fcddfdbba401d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":1020,"wires":[]},{"id":"639deba4bc641566","type":"debug","z":"38fcddfdbba401d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":470,"y":860,"wires":[]},{"id":"246864e82a7593c8","type":"comment","z":"38fcddfdbba401d5","name":"No Attribute When Idle","info":"When the speaker is idle, there is no volume_level attribute available. Device needs to wake up before a volume level can be recorded.","x":180,"y":940,"wires":[]},{"id":"685c69da7061d1b5","type":"link out","z":"38fcddfdbba401d5","name":"","mode":"return","links":[],"x":1065,"y":900,"wires":[]},{"id":"7081522fc05ddfb2","type":"comment","z":"38fcddfdbba401d5","name":"Google Home Volume","info":"These sequences record the current volume of the Google Home devices, change them to 10/10, then return the volume level to the previous level using the recorded value.","x":240,"y":820,"wires":[]},{"id":"bbb02c1f845771ae","type":"function","z":"38fcddfdbba401d5","name":"","func":"var nwsTitle = global.get(\"nwsTitle\")\nvar nwsDesc = global.get(\"nwsDesc\")\n\nvar desc = msg.title\nmsg.payload = { data: { \"message\": \"The National Weather Service in Milwaukee, Sullivan, has issued a \" + nwsTitle + \"for Okauchee Lake. Details are as follows: \" + nwsDesc} };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":440,"wires":[["f9716b88178bddec"]]},{"id":"f9716b88178bddec","type":"api-call-service","z":"38fcddfdbba401d5","name":"Google TTS","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.kitchen_display","media_player.rv_bedroom_speaker"],"data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1670,"y":440,"wires":[["0b6557ff481b90fd"]]},{"id":"c3f592aba7e7e68a","type":"api-current-state","z":"38fcddfdbba401d5","name":"nws title","server":"efbeb294.51685","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nws_alerts_title","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"nwsTitle","propertyType":"global","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":120,"wires":[[]]},{"id":"4d96a3f4552e41d2","type":"api-current-state","z":"38fcddfdbba401d5","name":"nws desc","server":"efbeb294.51685","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nws_alerts_desc","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"nwsDesc","propertyType":"global","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":700,"y":180,"wires":[[]]},{"id":"3f74e7e35cd56e73","type":"server-state-changed","z":"38fcddfdbba401d5","name":"NWS Alerts >0","server":"efbeb294.51685","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.nws_alerts","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":220,"wires":[["03fae32616d66de8"]]},{"id":"8f290a4e16d3d128","type":"api-current-state","z":"38fcddfdbba401d5","name":"Someone Home?","server":"efbeb294.51685","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":420,"wires":[["9bb2383b2a3a0c25"],[]]},{"id":"efed41c2adfa407b","type":"function","z":"38fcddfdbba401d5","name":"","func":"var nwsTitle = global.get(\"nwsTitle\")\nvar nwsDesc = global.get(\"nwsDesc\")\n\nvar desc = msg.title\nmsg.payload = { data: { \"message\": \"This is a reminder that there is currently a \" + nwsTitle + \" for your area. Details are as follows: \" + nwsDesc} };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1500,"y":560,"wires":[["315e59f1bea4c540"]]},{"id":"135a9ea48e129ad8","type":"api-current-state","z":"38fcddfdbba401d5","name":"Someone Home?","server":"efbeb294.51685","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":540,"wires":[["f7435ee296c3de96"],[]]},{"id":"315e59f1bea4c540","type":"api-call-service","z":"38fcddfdbba401d5","name":"Google TTS","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"tts","service":"cloud_say","areaId":[],"deviceId":[],"entityId":["media_player.kitchen_display","media_player.rv_bedroom_speaker"],"data":"{\"message\":\"{{payload}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1670,"y":560,"wires":[["0b6557ff481b90fd"]]},{"id":"2c54541fd915774f","type":"api-current-state","z":"38fcddfdbba401d5","name":"1+ Alerts","server":"efbeb294.51685","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.nws_alerts_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":540,"y":520,"wires":[["135a9ea48e129ad8","ce3f087c07bfb965"],[]]},{"id":"0b6557ff481b90fd","type":"delay","z":"38fcddfdbba401d5","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1880,"y":500,"wires":[["30c6deaa8bd898a8"]]},{"id":"ce3f087c07bfb965","type":"link out","z":"38fcddfdbba401d5","name":"","mode":"link","links":["f9a5fa7996b92e74"],"x":655,"y":480,"wires":[]},{"id":"f9a5fa7996b92e74","type":"link in","z":"38fcddfdbba401d5","name":"","links":["ce3f087c07bfb965"],"x":425,"y":120,"wires":[["c3f592aba7e7e68a","4d96a3f4552e41d2","e5a8ac004999e2dd","83b7d123401f78a0"]]},{"id":"9bb2383b2a3a0c25","type":"switch","z":"38fcddfdbba401d5","name":"Severity","property":"nwsSeverity","propertyType":"global","rules":[{"t":"cont","v":"Extreme","vt":"str"},{"t":"cont","v":"Severe","vt":"str"},{"t":"eq","v":"Moderate","vt":"str"},{"t":"eq","v":"Minor","vt":"str"},{"t":"eq","v":"Low","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":920,"y":420,"wires":[["941ac290f60f9161","f879b5be024f2fd7","fdb7ed1c53aaca7b"],["fdb7ed1c53aaca7b","941ac290f60f9161","f879b5be024f2fd7"],["5b46caabec8b7b5e"],["5b46caabec8b7b5e"],["5b46caabec8b7b5e"]]},{"id":"f7435ee296c3de96","type":"switch","z":"38fcddfdbba401d5","name":"Severity","property":"nwsSeverity","propertyType":"global","rules":[{"t":"cont","v":"Extreme","vt":"str"},{"t":"cont","v":"Severe","vt":"str"},{"t":"eq","v":"Moderate","vt":"str"},{"t":"eq","v":"Minor","vt":"str"},{"t":"eq","v":"Low","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":920,"y":520,"wires":[["f879b5be024f2fd7","c44c1eae206326ba","ca4a7f9a1a91d49f"],["ca4a7f9a1a91d49f","c44c1eae206326ba","f879b5be024f2fd7"],["4a707a146196eeec"],["4a707a146196eeec"],["4a707a146196eeec"]]},{"id":"4a707a146196eeec","type":"time-range-switch","z":"38fcddfdbba401d5","name":"","lat":"","lon":"","startTime":"22:00","endTime":"10:00","startOffset":0,"endOffset":0,"x":1100,"y":540,"wires":[[],["ca4a7f9a1a91d49f","f879b5be024f2fd7"]]},{"id":"30c6deaa8bd898a8","type":"link out","z":"38fcddfdbba401d5","name":"","mode":"link","links":["d0be10c7d4a06742"],"x":1985,"y":500,"wires":[]},{"id":"d0be10c7d4a06742","type":"link in","z":"38fcddfdbba401d5","name":"","links":["30c6deaa8bd898a8"],"x":425,"y":520,"wires":[["2c54541fd915774f"]]},{"id":"e5a8ac004999e2dd","type":"api-current-state","z":"38fcddfdbba401d5","name":"nws severity","server":"efbeb294.51685","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nws_alerts","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":240,"wires":[["f5a956a9844ffac3"]]},{"id":"f5a956a9844ffac3","type":"change","z":"38fcddfdbba401d5","name":"nwsSeverity","rules":[{"t":"move","p":"data.attributes.event_severity","pt":"msg","to":"nwsSeverity","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":240,"wires":[[]]},{"id":"83b7d123401f78a0","type":"api-current-state","z":"38fcddfdbba401d5","name":"nws spoken desc","server":"efbeb294.51685","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nws_alerts","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":300,"wires":[["74911f4e4768ed9f"]]},{"id":"74911f4e4768ed9f","type":"change","z":"38fcddfdbba401d5","name":"nwsSpokenDesc","rules":[{"t":"move","p":"data.attributes.spoken_desc","pt":"msg","to":"nwsSpokenDesc","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":300,"wires":[[]]},{"id":"63afd365edeb6507","type":"api-call-service","z":"38fcddfdbba401d5","name":"","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"media_player","service":"play_media","areaId":[],"deviceId":["157c8fbc7fda49008ddfce0816ebcba7","d732e023b4675552893801d7f742cd5d"],"entityId":[],"data":"{\"media_content_id\":\"/local/sound/NWS Alert Beginning.mp3\",\"media_content_type\":\"music\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1650,"y":500,"wires":[[]]},{"id":"fdb7ed1c53aaca7b","type":"delay","z":"38fcddfdbba401d5","name":"","pauseType":"delay","timeout":"24","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":440,"wires":[["bbb02c1f845771ae"]]},{"id":"ca4a7f9a1a91d49f","type":"delay","z":"38fcddfdbba401d5","name":"","pauseType":"delay","timeout":"24","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1340,"y":560,"wires":[["efed41c2adfa407b"]]},{"id":"941ac290f60f9161","type":"link out","z":"38fcddfdbba401d5","name":"","mode":"link","links":["efd738ceef937123"],"x":1105,"y":400,"wires":[]},{"id":"c44c1eae206326ba","type":"link out","z":"38fcddfdbba401d5","name":"","mode":"link","links":["efd738ceef937123"],"x":1105,"y":500,"wires":[]},{"id":"f879b5be024f2fd7","type":"link call","z":"38fcddfdbba401d5","name":"","links":["ec370e666205933c"],"timeout":"1","x":1280,"y":500,"wires":[["614249307e24b92a"]]},{"id":"614249307e24b92a","type":"delay","z":"38fcddfdbba401d5","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1440,"y":500,"wires":[["63afd365edeb6507"]]},{"id":"5b46caabec8b7b5e","type":"time-range-switch","z":"38fcddfdbba401d5","name":"","lat":"","lon":"","startTime":"22:00","endTime":"10:00","startOffset":0,"endOffset":0,"x":1100,"y":440,"wires":[[],["f879b5be024f2fd7","fdb7ed1c53aaca7b"]]},{"id":"810d38e434315965","type":"delay","z":"38fcddfdbba401d5","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":420,"wires":[["8f290a4e16d3d128"]]},{"id":"03fae32616d66de8","type":"switch","z":"38fcddfdbba401d5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":220,"wires":[["810d38e434315965","c3f592aba7e7e68a","4d96a3f4552e41d2","e5a8ac004999e2dd","83b7d123401f78a0"]]},{"id":"efd738ceef937123","type":"link in","z":"38fcddfdbba401d5","name":"","links":["02d2eb49d18c6097","714a8a71658251b7","941ac290f60f9161","c44c1eae206326ba"],"x":1415,"y":920,"wires":[["0d0c42f57570afe9","612ad1f0cb242354"]]},{"id":"0d0c42f57570afe9","type":"function","z":"38fcddfdbba401d5","name":"MSG","func":"var nwsTitle=global.get('nwsTitle');\nvar nwsDesc=global.get('nwsDesc');\nvar nwsSpokenDesc=global.get('nwsSpokenDesc');\nvar nwsSeverity=global.get('nwsSeverity');\n\nmsg.payload = {\n    data:{\n        \"title\": nwsSeverity + \" Weather Alert - \" + nwsTitle,\n        \"message\": nwsSpokenDesc + \"<br><br>\" + nwsDesc,\n        \"data\": {\n            \"tag\": \"weatherAlert\",\n            \"notification_icon\": \"mdi:alert\",\n            \"clickAction\": \"/lovelace/test-ground\"\n        }\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1540,"y":960,"wires":[["843522601dea0ab2","a26cce9e9a688ed4"]]},{"id":"843522601dea0ab2","type":"api-call-service","z":"38fcddfdbba401d5","name":"Notify Ryan","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_ryan_s_phone","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":940,"wires":[[]]},{"id":"a26cce9e9a688ed4","type":"api-call-service","z":"38fcddfdbba401d5","name":"Notify Nicole","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_nicole_s_phone","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":1000,"wires":[[]]},{"id":"612ad1f0cb242354","type":"function","z":"38fcddfdbba401d5","name":"Tasker MSG","func":"msg.payload = {\n    data:{\n        \"title\": \"WEATHER ALERT\",\n        \"message\": \"\"\n        }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":880,"wires":[["97996912e5a3e4d8"]]},{"id":"97996912e5a3e4d8","type":"api-call-service","z":"38fcddfdbba401d5","name":"Notify Ryan","server":"efbeb294.51685","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_ryan_s_phone","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1720,"y":880,"wires":[[]]},{"id":"17cc9d1b371833d5","type":"comment","z":"38fcddfdbba401d5","name":"HA & Tasker Notification","info":"","x":1550,"y":820,"wires":[]},{"id":"efbeb294.51685","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30}]